:root{
    --text: rgb(0, 4, 5);
    --background: rgb(218, 242, 251);
    --primary: rgb(9, 71, 93);
    --secondary: rgb(200, 236, 249);
    --accent: rgb(0, 168, 219);
}
.header {
    background-color: var(--background);
    position: fixed;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: max-content;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 1px 1px rgba(14, 55, 99, 0.3);

    .logo {
        .icon {
            font-size: 1.8rem;
            color: var(--primary);
        }
        color: var(--text);
        font-weight: 600;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
    }
    @media screen and ( max-width: 768px) {
        .navBar {
            background: var(--secondary);
            backdrop-filter: blur(15px);
            position: absolute;
            height: 100vh;
            width: 100%;
            border-radius: .5rem;
            top:0;
            right:-100rem;
            left: 100%;
            padding: 1rem;
            z-index: 2000;
            box-shadow: 0 1px 1px rgba(14, 55, 99, 0.9);
            transition: 0.3s ease-out;

            .navLists {
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin: auto;

                .navItem {
                    padding: 1.2rem 0;

                    .navLink {
                        color: var(--primary);
                        font-size: 1.2rem;
                        font-weight: 600;
                        &:hover {
                            color: var(--text);
                        }
                    }
                }

                .btn {
                    margin-top: .5rem;

                    a {
                        font-weight: 600;
                        color: var(--background);
                    }
                }
            }

            .closeNavbar {
                position: absolute;
                top: 1rem;
                right: 1rem;
                color: var(--primary);
                &:hover {
                    color: var(--secondary);
                }
            }
        }

        .activeNavbar {
            top: 0;
            left: 0;
            right: 0;
            transform: translate(0);
        }
    }

    .toggleNavbar {
        .icon {
            font-size: 25px;
            color: var(--primary);
        }
    }
}

@media screen and (min-width: 768px ) {
    .toggleNavbar, .closeNavbar {
        display: none;
    }

    .header {
        padding: 1.5rem 2rem;
        .navBar {
            .navLists {
                display: flex;
                align-items: center;
                justify-content: center;

                .navItem {
                    .navLink {
                        color: var(--text);
                        padding: 0 0.65rem;
                        font-size: 1rem;
                        font-weight: 500;

                        &:hover {
                            color: var(--accent);
                        }
                    }
                }

                .btn {
                    margin-left: 1rem;
                    a {
                        color: var(--background);
                        font-weight: 600;
                    }
                }
            }
        }
    }
}