@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --text: rgb(0, 4, 5);
    --background: rgb(218, 242, 251);
    --primary: rgb(9, 71, 93);
    --secondary: rgb(200, 236, 249);
    --accent: rgb(0, 168, 219);
}
:root[data-theme="dark"] {
    --text: rgb(250, 254, 255);
    --background: rgb(4, 28, 37);
    --primary: rgb(162, 224, 246);
    --secondary: rgb(6, 42, 55);
    --accent: rgb(36, 204, 255);
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.section {
    padding: 4rem 0 2rem;
}
.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.icon {
    font-size: 2rem;
    cursor: pointer;
}
.flex {
    display: flex;
    align-items: center;
}
.grid {
    display: grid;
    align-items: center;
}
.btn {
    padding: .6rem 1.5rem;
    background: var(--primary);
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn a {
    color: var(--background);
    font-weight: 500;
}
.btn:hover {
    background: var(--accent);
}
img,video {
    width: 100%;
    height: auto;
}
input {
    font-size: 100%;
}
body {
    background: var(--background);
}


@media screen and (min-width: 1240px) {
    .container {
        width: 80% !important;
        margin: auto !important;
    }

    .section {
        padding: 6rem 0 4rem;
    }
}

@media screen and (min-width: 2560px) {
    body {
        zoom: 1.7;
    }
}